/*
 * GitHub
 */

.avatar-user {
  border-radius: 50%!important;
}

/*
 * Alerts
 */

.alert {
  padding: 20px;
  color: white;
}

.avatar-user {
  border-radius: 50%!important;
}

.label {
  padding: 4px;
  border-radius: 0.25em;
  color: white;
}

.overlay {
  display: inline-block;
  padding: 2px;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 0.25em;
}

.success {
  background-color: #4CAF50;
}

.info {
  background-color: #2196F3;
}

.warning {
  background-color: #ff9800;
}

.danger {
  background-color: #f44336;
}

.other {
  background-color: #e7e7e7;
  color: black;
}
